<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>freelancers</title>
</head>
<body>

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

    <header>
        
        <div class="header-continer">

            <div class="header-items logo-home">

                <div class="logo"><a href="/templates/base.html"><img class="logo-img" src="../static/icons/logo.png" alt="freelink"></a></div>
                <div class="logo-name"><h2>فریلینک</h2></div>

            </div>
            <div class="menu">
                <a href="index.html" class="menu-item mi1"><h4>خانه</h4></a>
                <a href="freelancers.html" class="menu-item mi2"><h4>فریلنسرها</h4></a>
                <a href="" class="menu-item mi3"><h4>نمونه کارها</h4></a>
                <a href="" class="menu-item mi4"><h4>درباره ما</h4></a>
            </div>
            <div class="header-items login-singup">
                <a href="login.html" class="login">ورود</a>
                <a href="register.html" class="singup">ثبت نام</a>
            </div>

        </div>

    </header>


    <div class="filters-box">
        <div class="filters">
            <button class="filters-text-button">فیلتر
                <img src="../static/icons/arrow.svg" alt="" width="13%">
            </button>
        </div>
        <div class="filter-items">
            <div class="filter-gorup">
                <button class="filter-text-button">دسته
                    <img class="filter-group-item-arrow" src="../static/icons/arrow.svg" alt="" width="10%">
                </button>
            </div>
            <input type="search" class="search-filter" placeholder="جستجو دسته ها">
        <!-- <div class="filter-price-range">
            <button class="filter-text-button">بازه فیمت</button>
        </div> -->
        </div>
    </div>

    
    <footer>
        <div class="footer-box">
            <div class="logo-highlight">
                <img src="../static/icons/logo highlight2.svg" alt="logo" width="100%">
            </div>
            <!-- <div class="links-footer"></div> -->
            <div class="about">
                <div class="web-name">فریلینک
                    <div class="link-menus">
                        <a href="index.html" class="link-menu">خانه</a>
                        <a href="" class="link-menu">قوانین</a>
                        <a href="freelancers.html" class="link-menu">فریلنسرها</a>
                        <a href="" class="link-menu">درباره ما</a>
                    </div>
                </div>
                <div class="about-footer">فیریلینک (Freelink) فضاییه برای ارتباط مستقیم بین کارفرما و فریلنسرها . <br>
                                         اینجا می‌تونید نمونه‌کارها رو ببینید و همکاری مورد نظرتون رو پیدا کنید. <br>
                                         تمرکز ما روی ایجاد ارتباط ساده و شفاف  بین دو طرفه. <br>
                                         چه دنبال انجام پروژه باشی ، چه بخوای توانایی‌هات رو نشون بدی ، فیریلینک همراهته.
                </div>
                <div class="end-footer">
                    <div class="copy-right">
                        <img src="../static/icons/heart.svg" alt="heart" width="35">
                        <h5>ساخته شده با عشق در تیم <samp class="bold-retro">رِترو</samp></h5>
                    </div>
                        <div class="Social-medias">
                            <div class="socail-media"><a class="social-link" href="" ><img  src="../static/icons/telegram.svg" alt="instagram" width="50"></a></div>
                            <div class="socail-media"><a class="social-link" href="" ><img  src="../static/icons/linkdin.svg" alt="github" width="50"></a></div>
                            <div class="socail-media"><a class="social-link" href="" ><img  src="../static/icons/insta.svg" alt="telegram" width="50"></a></div>
                        </div>
                </div>
            </div>
        </div>
    </footer>
    
</body>
</html>