<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Document</title>
</head>
<body>
    <header>
        <div class="header-continer">
            <div class="header-items logo-home">
                <div class="logo"><a href="../templates/base.html"><img class="logo-img" src="../static/icons/logo.png" alt="freelink"></a></div>
                <div class="logo-name"><h2>فریلینک</h2></div>
            </div>

            <div class="menu">
                <a href="index.html" class="menu-item mi1"><h4>خانه</h4></a>
                <a href="freelancers.html" class="menu-item mi2"><h4>فریلنسرها</h4></a>
                <a href="" class="menu-item mi3"><h4>نمونه کارها</h4></a>
                <a href="#footer" class="menu-item mi4"><h4>درباره ما</h4></a>
            </div>

            <div class="header-items login-singup">
                <a href="login.html" class="login">ورود</a>
                <a href="register.html" class="singup">ثبت نام</a>
            </div>
        </div>

    </header>



    <div class="baner-search">
        <!-- <div class="baner-pattern"><img src="/static/icons/baner pattern.svg" width="100%"></div> -->
        <h1 class="search-to-filter">فریلنسر مورد نظرت همینجاست ، <br>فقط انتخابش کن  :)</h1>
        <input class="search-bar" type="text" placeholder="انتخاب دسته بندی . . .">
        <!-- <button>🔍</button> -->
    </div>

    <div class="servises">
        
            <div class="servis s1">
                <a class="servis-link" href="../templates/base.html">
                    <div class="servis-text">
                        <img class="servis-icon" src="../static/icons/servises icon/10 01.svg" alt="" width="35%">
                        <h3 class="servis-tag">برنامه نویسی</h3>
                    </div>
                </a>    
            </div>
        
            <div class="servis s2">
                <a class="servis-link" href="../templates/base.html">
                    <div class="servis-text">
                        <img class="servis-icon" src="../static/icons/servises icon/graphic icon.svg" alt="" width="45%">
                        <h3 class="servis-tag">گرافیک <br>و دیزاین</h3>
                    </div>
                </a>    
            </div>
        
            <div class="servis s3">
                <a class="servis-link" href="../templates/base.html">
                    <div class="servis-text">
                        <img class="servis-icon" src="../static/icons/servises icon/translat icon.svg" alt="" width="45%">
                        <h3 class="servis-tag">متن<br>و ترجمه</h3>
                    </div>
                </a>    
            </div>
        
            <div class="servis s4">
                <a class="servis-link" href="../templates/base.html">
                    <div class="servis-text">
                        <img class="servis-icon" src="../static/icons/servises icon/video icon.svg" alt="" width="45%">
                        <h3 class="servis-tag">ویدیو<br>و انیمیشن</h3>
                    </div>
                </a>    
            </div>
        
            <div class="servis s5">
                <a class="servis-link" href="../templates/base.html">
                    <div class="servis-text">
                        <img class="servis-icon" src="../static/icons/servises icon/ai icon.svg" alt="" width="45%">
                        <h3 class="servis-tag">هوش مصنوعی</h3>
                    </div>
                </a>    
            </div>
        
            <div class="servis s6">
                <a class="servis-link" href="../templates/base.html">
                    <div class="servis-text">
                        <img class="servis-icon" src="../static/icons/servises icon/music icon.svg" alt="" width="45%">
                        <h3 class="servis-tag">موزیک<br>وصدا</h3>
                    </div>
                </a>    
            </div>
        
            <div class="servis s7">
                <a class="servis-link" href="../templates/base.html">
                    <div class="servis-text">
                        <img class="servis-icon" src="../static/icons/servises icon/brand icon.svg" alt="" width="55%">
                        <h3 class="servis-tag">برندینگ</h3>
                    </div>
                </a>    
            </div>
        
            <div class="servis s8">
                <a class="servis-link"></a>
                <div class="servis-text">
                    <img class="servis-icon" src="../static/icons/servises icon/market icon.svg" alt="" width="45%">
                    <h3 class="servis-tag">دیجیتال<br>مارکتینگ</h3>
                </div>
            </div>
            </div>

            <div class="employer-attraction">
                <div class="employer-attraction-text">    
                    <h2 class="employer-attraction-h2">از ایده  تا اجرا ،<br> فریلنسر ها آمادن .</h2>
                    <p class="employer-attraction-p">در فیریلینک مناسب ترین متخصص رو<br> برای پروژه های شخصی یا شرکتی پیدا کن .</p>
                </div>
                <img src="/static/icons/light icon.svg" alt="" class="employer-attraction-img" width="100%">
            </div>

            <div class="active-ups">

                <div class="line1"><img src="../static/icons/line.svg" alt="" width="100%"></div>

                <div class="user-project-safe ups1">
                    <h4 class="ups-num">3k+</h4>
                    
                    <h4 class="ups-text ">تکمیل<br>پروژه</h4>
                </div>

                <div class="user-project-safe ups2">
                    <h4 class="ups-num">1k+</h4>
                    
                    <h4 class="ups-text ">کارفرما</h4>
                </div>

                <div class="user-project-safe ups3">
                    <h4 class="ups-num">2k+</h4>
                    
                    <h4 class="ups-text ">فریلنسر<br>فعال</h4>
                </div>
            </div>
                

    <div class="baner-freelancers">
        <!-- <div class="baner-pattern"><img src="/static/icons/baner pattern.svg" width="100%"></div> -->
        <h1 class="find-freelanser">برای اجرای ایدهات<br>فقط یه متخصص نیازه :)</h1>
        <!-- <input class="search-bar" type="text" placeholder="انتخاب دسته بندی . . ."> -->
        <a href="" class="show-freelancers-list">لیست فریلنسر ها</a>
        <!-- <button>🔍</button> -->
    </div>


    
    <footer id="footer">
        <div class="footer-box">
            <div class="logo-highlight">
                <img src="../static/icons/logo highlight2.svg" alt="logo" width="100%">
            </div>
            
            <!-- <div class="links-footer">
            </div> -->
            <div class="about">
                <div class="web-name">فریلینک
                    <div class="link-menus">
                        <a href="index.html" class="link-menu">خانه</a>
                        <a href="" class="link-menu">قوانین</a>
                        <a href="freelancers.html" class="link-menu">فریلنسرها</a>
                        <a href="" class="link-menu">درباره ما</a>
                    </div>
                </div>
                <div class="about-footer">فیریلینک (Freelink) فضاییه برای ارتباط مستقیم بین کارفرما و فریلنسرها . <br>
                                         اینجا می‌تونید نمونه‌کارها رو ببینید و همکاری مورد نظرتون رو پیدا کنید. <br>
                                         تمرکز ما روی ایجاد ارتباط ساده و شفاف  بین دو طرفه. <br>
                                         چه دنبال انجام پروژه باشی ، چه بخوای توانایی‌هات رو نشون بدی ، فیریلینک همراهته.
                </div>
                <div class="end-footer">
                    <div class="copy-right">
                        <img src="../static/icons/heart.svg" alt="heart" width="35">
                        <h5>ساخته شده با عشق در تیم <samp class="bold-retro">رِترو</samp></h5>
                    </div>
                        <div class="Social-medias">
                            <div class="socail-media"><a class="social-link" href="" ><img  src="../static/icons/telegram.svg" alt="instagram" width="50"></a></div>
                            <div class="socail-media"><a class="social-link" href="" ><img  src="../static/icons/linkdin.svg" alt="github" width="50"></a></div>
                            <div class="socail-media"><a class="social-link" href="" ><img  src="../static/icons/insta.svg" alt="telegram" width="50"></a></div>
                        </div>
                </div>
            </div>

        </div>
    </footer>

</body>
</html>