<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Document</title>
</head>
<body id="login-page">
    
    <div class="login-box">
        <input class="input-user username-input">
        <input class="input-user password-input">
        <input class="input-user password-confirm-input">

        <select name="دسته بندی" id="EmployerRoFreelancer">
            <option value="" id="freelacer">فریلنسر</option>
            <option value="" id="employer">کارفرما</option>
        </select>
        <!-- -job title     -job title  -->
        <input type="text" class="email">
        <div class=""></div>
    </div>

</body>
</html>