<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="icon" type="image/png" href="./images/logo.png">

    <title>Freelinke</title>
</head>
<body>
    

    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Document</title>
</head>
<body id="login-page">
    
        <div class="register-cantiner">
        <div class="gerister-box"> 
            <h2 class="rigester-text">ورود</h2>
            <input type="email" class="input-user email" placeholder="ایمیل" required>
            <input type="password" class="input-user password-input" placeholder="رمز عبور" required minlength="6">
  
            <button type="submit" class="register-button">ورود</button>
            <!-- -job title     -job title  -->
            <!-- <div class=""></div> -->
        </div>


        <h5 class="login-page-text">اگر ثبت نام نکردید از <a href="../templates/register.html" class="login-page-linke">اینحا</a> ثبت نام کنید</h5>
    </div>

        


</body>
</html>