<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">

    <title>Document</title>
</head>
<body id="login-page">
    
    <div class="register-cantiner">
        <div class="gerister-box"> 
            <h2 class="rigester-text">ثبت نام</h2>
            <input class="input-user username-input" placeholder="نام کاربری">
            <input type="email" class="input-user email" placeholder="ایمیل">
            <input class="input-user password-input" placeholder="رمز عبور">
            <input class="input-user password-confirm-input" placeholder="تکرار رمز عبور">
            <div class="select-box">
                <select name="دسته بندی" id="EmployerRoFreelancer">
                    <option value="" disabled selected id="hesab">نوع حساب</option>
                    <option value="" id="freelacer">فریلنسر</option>
                    <option value="" id="employer">کارفرما</option>
                </select>
                <select id="city" >
                    <option value="" disabled selected class="ostan">استان</option>
                    <option value=""> آذرباجان شرقی</option>
                    <option value="">آذرباجان قربی</option>
                    <option value="">اردبیل</option>
                    <option value="">اصفهان</option>
                    <option value="">البرز</option>
                    <option value="">ایلام</option>
                    <option value="">بوشهر</option>
                    <option value="">تهران</option>
                    <option value="">چهارمحال و بختیاری</option>
                    <option value="">خراسان جنوبی</option>
                    <option value="">خراسان رضوی</option>
                    <option value="">خراسان شمالی</option>
                    <option value="">خوزستان</option>
                    <option value="">زنجان</option>
                    <option value="">سمنان</option>
                    <option value="">سیستان و بلوچستان</option>
                    <option value="">فارس</option>
                    <option value="">قزوین</option>
                    <option value="">قم</option>
                    <option value="">کردستان</option>
                    <option value="">کرمان</option>
                    <option value="">کرمانشاه</option>
                    <option value="">کهکیلویه و بیراحمد</option>
                    <option value="">گلستان</option>
                    <option value="">گیلان</option>
                    <option value="">لرستان</option>
                    <option value="">مازندران</option>
                    <option value="">مرکزی</option>
                    <option value="">هرمزگان</option>
                    <option value="">همدان</option>
                    <option value="">یزد</option>
                </select>
            </div>
            <a href="" class="gerister-button">ثبت نام</a>
            <!-- -job title     -job title  -->
            <!-- <div class=""></div> -->
        </div>

        <h5 class="login-page-text">اگر ثبت نام کردید <a href="" class="login-page-linke">وارد</a> بشید</h5>
    </div>

        


</body>
</html>